.cards-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-value{
    max-width: 310px;
    min-width: 210px;
    padding: 10px;
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 5px 10px rgba(77, 40, 40, 0.377);
    transition: all 0.3s ease;
    align-items: flex-start;
}

.card-value:hover{
    transform: translateY(-5px);
}

.card-value.yellow{
    background-color: #ffdf98;
}
.yellow button{
    background-color: #f4b153;
}

.orange{
    background-color: #f4b153;
}
.orange button{
    background-color: #ffdf98;
}

.blue{
    background-color: #3553b5;
    color: white;
}
.blue button{
    background-color: #191444;
    color: white;
}

.dark-blue{
    background-color: #191444;
    color: white;
}

.card-value h2{
    font-size: 18px;
    padding-bottom: 20px;
}

.card-value-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.btn-add-card-value{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.subtitle-card{
    font-size: 30px;
    font-weight: 700;
}

.mid-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.container-btn-cmv{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.container-btn-cmv button{
    width: 130px;
    height: 130px;
    border: 1px solid #919191;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-btn-cmv button:hover{
    border: 1px solid #16460d;
    background-color: rgb(241, 255, 241);
}
