.sucess-modal-content {
    opacity: 0;
    transform: translate(-50%, -30%);
    transition: opacity 300ms ease, transform 300ms ease;
}

.sucess-modal-content--after-open {
    opacity: 1;
    transform: translate(-50%, -10%);
}

.sucess-modal-content--before-close {
    opacity: 0;
    transform: translate(-50%, -30%);
}