main{
    width: 100vw;
    height: 93vh;
    background-color: #fff8e9;
    
}

#principal-menu-stock{
    width: 70%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.groups-top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#btn-plus-stock{
    background-color: #cae2ff;
    border-radius: 10px;
    padding: 6px;
    display: flex;
    align-items: center;
}

.btn-stock-base{
    background-color: #87b3f2;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: inherit;
    height: 35px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

#btn-funnel-base{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#filters-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#products-list{
    max-height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    overflow-y: auto;
    padding: 5px;
}

#products-list::-webkit-scrollbar{
    display: none;
}

#products-list button:hover{
    transform: translateY(-5px);
    transition: ease 0.3s ;
}

.btn-filters{
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #1b1343;
    width: 200px;
    font-size: 15px;
}

.btn-filters.clicked{
    background-color: #1b1343;
    color: white;
}

.btn-filters.notClicked{
    background-color: transparent;
    color: black;
}

.card-products{
    width: 100%;
    height: auto;
    background-color: rgb(253, 249, 249);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(48, 26, 26, 0.212);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    box-sizing: border-box;

}

.top-container-card{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.text-stock{
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 50px;
    font-weight: bold;
}

.text-stock.full{
    background-color: #d5d6fd;
    color: #3553b5;
}

.text-stock.mid-empty{
    background-color: #f6ce95;
    color: #865000;
}

.text-stock.empty{
    background-color: #efcbd1;
    color: #b21106;
}

.inside-container-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.align-items-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.bottom-container-card{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.modal-products-header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-container-modal-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-container-modal-products button{
    font-size: 30px;
}

.text-under-top-container{
    font-size: 15px;
    color: #777171ff;
}

.modal-products-form{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 20px;
}

.modal-products-form-entrance{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 20px;
}

.modal-products-form-remove{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 20px;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fields-double{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.fields label{
    font-size: 16px;
    font-weight: bold;
    color: #121213;
}

.input-modal-add-product{
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    color: #333333;
    background-color: #f7f2f2;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.select-modal-add-product{
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    color: #333333;
    background-color: #f7f2f2;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.btn-modal-add-products{
    width: 200px;
    padding: 12px 16px;
    font-size: 15px;
    font-family: inherit;
    color: #2b2a2a;
    background-color: #f5ae47;
    border-radius: 8px;
    font-weight: bold;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.btn-modal-add-products:hover{
    box-shadow: 0px 0px 4px rgb(145, 56, 56);
}

.btn-modal-file{
    padding: 12px 16px;
    font-size: 16px;
    font-family: inherit;
    color: #f2f2f5;
    background-color: #3d50b2;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.fields-full-width{
    width: 100%;
}

.textarea-modal-add-product{
    width: 100%;
    min-height: 90px;
    padding: 12px 16px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    color: #333333;
    background-color: #f7f2f2;
    border-radius: 8px;
    outline: none;
    resize: vertical;
    transition: border-color 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.container-filters{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items:flex-start;
}

.top-container-filters{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-container-filters h1{
    font-size: 24px;
}

.top-container-filters button{
    font-size: 35px;
}

.btn_filters_modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.container-filters-options{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    align-items: flex-start;
    gap: 15px;
}

.container-filters-options button{
    font-size: 18px;
}

.container-filters-options button:hover{
    text-decoration: underline;
    text-underline-offset: 2px;

}
.group-title-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.modal-edit-products{
    display: flex;
    flex-direction: column;
    gap: 20px;
}